h1 {
    color: red;
    background-color: beige;
}

p {
    background-color: beige;
    margin: 0;
    border: 5px solid;
    padding: 10px;
    width: 750px;
}

table, tr, th, td{
    width: 750px;
    margin: 0;
    padding: 10px;
    border: 5px solid;
}

div {
    margin: 10px;
}