h1 {
    font-size: 60px;
}

#header {
    color: white;
}

h2 {
    font-size: 50px;
    color: white;
}

.main-navbar {
    text-align: right;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    overflow: hidden;
}

.main-navbar li{
    display: inline;
    margin: 15px;
}

.main-navbar li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-navbar li a:hover {
    background-color: #242B2D;
}

#navbar {
    text-align: right;
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    overflow: hidden;
}

#navbar li{
    display: inline;
    margin: 15px;
}

#navbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #242B2D;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#banner {
    width: 100%;   
}

p {
    color: white;
    font-size: 45px;
    columns: 2;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: white;
}

form {
    width: 50%;
    margin: auto;
}

label {
    color: white;
    font-size: 20px;
    display: inline-block;
    display: flex;
    display: grid;
    width: 100%;
    text-align: left;
}

input[type=text] {
    text-align: left;
    display: inline-block;
    display: flex;
    display: grid;
    padding: 12px 20px;
    width: 100%;
    margin: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #242B2D;
}

input[type=submit] {
    font-size: 20px;
    width: 25%;
    padding: 12px 18px;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    transition: width 2s;
}

input[type=submit]:hover {
    background-color: #1EA0C3;
    color: white;
    width: 40%;
}

#animation {
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    animation-name: anim;
    animation-duration: 5s;
}

@keyframes anim {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: black;}
    100% {color: green;}
}